html,
body {
    height: 100%;
}

body {
    background: radial-gradient(white, $gray-500);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.max-width-std {
    max-width: 1130px;
}

$border-radius-lg: 0.5rem;

.wrapper {
    flex: 1 0 auto;
}

.header__nav {
    max-width: 1170px;
}

.nav-pills .nav-link.active  {
    background-color: white !important;
}

.navbar-light .navbar-brand {
    color: $primary !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #0A0A0A !important;
}

.navbar-toggler {
    border: 0 !important;
}

footer {
    background-color: white;

    p {
        font-weight: 700;
        color: $gray-800;
    }
}

.footer-sm-screens {
    .footer__paragraphs {
        display: flex;
        justify-content: space-between;
        margin: 15px 30px;
    
        p {
            font-weight: 700;
            color: $gray-800;
        }
    }

    .footer__vimeo-youtube {
        margin: 45px auto;
    }
}

.footer__vimeo-youtube {
    display: flex;
    width: 100px;
    justify-content: space-between;

    i {
        font-size: 2.4rem;
        color: $gray-800;
    }
}

.footer-lg-screens {
    justify-content: space-between;
    align-items: center;
    @extend .max-width-std;
    margin: 15px 30px;

    .footer__vimeo-youtube-wrapper {
        flex: 1;
    }

    .footer__email {
        flex: 1;
        text-align: center;
    }

    .footer__copyright {
        flex: 1;
        text-align: right;
    }

    p {
        margin: 0;
    }
}
