$light: #EFEFEF;
$primary: #e92569;
$navbar-light-active-color: #0A0A0A;
$headings-color: $primary;
$gray-800: #767676;
$gray-600: #C7C7C7;
$gray-500: #E5E5E5;
$gray-400: #F5F5F5;
$body-color: $gray-800;
