.home-carousel {
    margin-top: 55px;

    .carousel-item {
        min-height: 287px;
    }

    .carousel-item img {
        min-height: 287px;
        object-fit: cover;
    }
}

.home-h1 {
    margin-left: 30px;
    margin-top: 30px;
}

.home-main-paragraph {
    margin: 15px 30px;
}

.card--border-top-radius {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}

.card--border-bottom-radius {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.accordion {
    margin: 70px 30px;

    h2 {
        font-family: "Lato", sans-serif;
        font-weight: 400;
    }

    .accordion--bg-radial {
        background: radial-gradient(white, $gray-400);
    }

    .border-bottom {
        border-bottom: 2px solid $primary !important;
    }

    .card {
        border-radius: 0;
    }

    .card:first-of-type {
        @extend .card--border-top-radius;
    }

    .card:last-of-type {
        @extend .card--border-bottom-radius;
    }

    .accordion__share-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 133px;
        margin: 15px auto;

        span {
            font-weight: 700;
        }
    }

    i {
        font-size: 1.4rem;
    }

    img {
        margin: 25px 0px 10px 0px;
    }
}

.accordion > .card > .card-header {
    border-radius: 0;
}