.home-carousel {
    margin-top: 70px;

    .carousel-item {
        min-height: 287px;
    }

    .carousel-item img {
        min-height: 287px;
        object-fit: cover;
    }
}

.rounded-and-shadow-indicators {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem !important;
}

#indicator-1, #indicator-2, #indicator-3 {
    @extend .rounded-and-shadow-indicators;
}

.carousel-indicators li {
    height: 30px;
    width: 30px;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: $primary;
}

.std-h1 {
    margin-left: 30px;
    margin-top: 30px;
    @extend .max-width-std;
}

.home-main-paragraph {
    margin: 15px 30px;
    @extend .max-width-std;
}

.card--border-top-radius {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}

.card--border-bottom-radius {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.accordion {
    margin: 70px 30px 170px 30px;

    h2 {
        font-family: "Lato", sans-serif;
        font-weight: 400;
    }

    .accordion--bg-radial {
        background: radial-gradient(white, $gray-400);
    }

    .border-bottom {
        border-bottom: 2px solid $primary !important;
    }

    .card {
        border-radius: 0;
    }

    .card:first-of-type {
        @extend .card--border-top-radius;
    }

    .card:last-of-type {
        @extend .card--border-bottom-radius;
    }

    .accordion__share-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 133px;
        margin: 15px auto;

        span {
            font-weight: 700;
        }
    }

    i {
        font-size: 1.4rem;
    }

    img {
        margin: 25px 0px 10px 0px;
    }
}

.accordion > .card > .card-header {
    border-radius: 0;
}

.tablist-wrapper {
   margin: 75px 30px 150px 30px;
   @extend .max-width-std;
}

.home-tablist {
    margin: 30px 30px 0px 30px;
}

.home-tab-content {
    padding: 30px 30px;

    .accordion__share-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 133px;
        margin: 15px 0;

        span {
            font-weight: 700;
        }
    }

    .tablist__content-wrapper {
        display: flex;
        gap: 25px;
    }

    .tablist__paragraph-and-share {
        flex: 3;
    }
}