@media (max-width: 991px) {
    .header__nav {
        .nav-item:first-of-type {
            margin-top: 15px;
        }

        .nav-link {
            padding: 0.5rem 2rem 0.5rem 15px;
        }
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: 2rem;
    }

    .header__search-form {
        width: 245px;

        .form-control {
            width: 100%;
        }
    }
}
