$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "Playfair Display", sans-serif;
$headings-font-weight: 400;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.2;

.navbar-brand {
    font-weight: 700;
    font-style: italic;
    font-family: "Playfair Display", sans-serif;
}
