$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "Playfair Display", sans-serif;
$headings-font-weight: 400;

.navbar-brand {
    font-weight: 700;
    font-style: italic;
    font-family: "Playfair Display", sans-serif;
}
